  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #e72e2e;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-family: "Staatliches", cursive;
  }

  .modal {
    background-color: inherit;
    background: none;
    background-origin: content-box;
    backface-visibility: hidden;
    visibility: hidden;
    background: none;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #e72e2e;
    border-color: #e72e2e;
    color: white;
  }
  
  .actions .button--alt {
    color: #e72e2e;
  }
  
  .actions .button {
    background-color: #e72e2e;
    color: white;
  }
  
  .h1 {
    text-align: center;
    font-family: "Staatliches", cursive;
  }

  .form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
  }
  
  .p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
    font-weight: bold;
  }

  .label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
  }

  
  .login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  
  .login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
  }


